{
  "name": "{{ agave.username }}-{{ app.name }}",
  "version": "{{ app.version }}",
  "executionType": "HPC",
  "executionSystem": "hpc-tacc-wrangler-{{ agave.username }}-custom",
  "parallelism": "SERIAL",
  "deploymentPath": "{{ agave.username }}/apps/{{ app.bundle }}",
  "deploymentSystem": "data-sd2e-projects-users",
  "defaultProcessorsPerNode": 1,
  "defaultNodeCount": 1,
  "defaultQueue": "normal",
  "label": "{{ date_time.iso8601_micro }}",
  "modules": ["load tacc-singularity"],
  "shortDescription": "{{ app.description }}",
  "templatePath": "runner-template.sh",
  "testPath": "tester.sh",
  "inputs": [
  {
      "id": "fasta",
      "value": {
              "default": "agave://data-sd2e-community/sample/sailfish/test/transcripts.fasta.gz",
              "required": true,
              "visible": true
      },
      "semantics": {
              "ontology": [
                      "http://edamontology.org/format_1929"
              ],
              "minCardinality": 1,
              "maxCardinality": 1
      },
      "details": {
              "description": "FASTA file of the reference genome"
      }
    },
    {
        "id": "gff",
        "value": {
                "default": "",
                "required": false,
                "visible": true
        },
        "semantics": {
                "ontology": [
                        "http://edamontology.org/format_2305"
                ],
                "minCardinality": 1,
                "maxCardinality": 1
        },
        "details": {
                "description": "GFF file of the reference genome, this is optional"
        }
      }
  ],
  "parameters": [{
    "id": "CONTAINER_IMAGE",
    "value": {
      "default": "{{ docker.organization }}/{{ docker.repo }}:{{ docker.tag }}",
      "description": "Container Image. Do not edit.",
      "type": "string",
      "visible": false,
      "required": true
    }
  }],
  "outputs": []
}
