# Reactor mandatory settings
REACTOR_NAME=audit-preproc
# REACTOR_DESCRIPTION=
REACTOR_ALIAS=audit-preproc

# Docker settings
DOCKER_HUB_ORG=jurrutia
DOCKER_IMAGE_TAG=audit-preproc
DOCKER_IMAGE_VERSION=0.1.1
