# Reactor mandatory settings
REACTOR_NAME=admn_qc_metadata_reactor
# REACTOR_DESCRIPTION=
# REACTOR_ALIAS=reactor-nickname

# Docker settings
DOCKER_HUB_ORG=jurrutia
DOCKER_IMAGE_TAG=qc_metadata_reactor
DOCKER_IMAGE_VERSION=0.2
DOCKER_USE_COMMIT_HASH=1
