{
    "name": "eho-mini_preproc_app test",
    "appId": "eho-mini_preproc_app-0.1.0",
    "archive": true,
    "maxRunTime": "01:00:00",
    "archiveSystem": "data-tacc-work-eho",
    "archivePath": "archive/jobs/${JOB_NAME}-${JOB_ID}",
    "inputs": {
        "fs_remote_fp": "agave://data-tacc-work-eho/data/test/status.txt"
    },
    "parameters": {
    }
}
