{
  "name": "{{ agave.username }}-{{ app.name }}-test-{{ date_time.iso8601_basic_short }}",
  "appId": "{{ agave.username }}-{{ app.name }}-{{ app.version }}",
  "archive": false,
  "inputs": {
    "read1": "agave://data-sd2e-community/sample/rnaseq/test/4311028_S61_R1_001.fastq.gz",
    "read2": "agave://data-sd2e-community/sample/rnaseq/test/4311028_S61_R2_001.fastq.gz",
    "filterseqs": "agave://data-sd2e-community/reference/rna_databases/rRNA_databases"
  },
  "parameters": {
    "trim": true,
    "sortmerna": true,
    "minlen": 36,
    "adaptersfile": "TruSeq3-PE.fa:2:30:10"
  }
}
