{
  "name": "eho-qc_hikari test-1567111369",
  "appId": "eho-qc_hikari-0.1.0",
  "archive": true,
  "maxRunTime": "01:00:00",
  "archiveSystem": "data-tacc-work-eho",
  "archivePath": "archive/jobs/${JOB_NAME}-${JOB_ID}",
  "inputs": {
  },
  "parameters": {
    "experiment_id": "experiment.ginkgo.19606.19637.19708.19709"
  }
}
